# Python
__pycache__/
*.py[cod]
*.pyd
.Python
venv/
env/
*.egg-info/

# Environment variables
.env
.env.local

# Node / React
node_modules/
dist/
build/
.vite/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.mdf
*.ldf
*.bak